<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-profile-heading">Create or edit a User Profile</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userProfile.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userProfile.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="userProfile.firstName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="userProfile.lastName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userName">User Name</label>
                    <input type="text" class="form-control" name="userName" id="field_userName"
                        [(ngModel)]="userProfile.userName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_age">Age</label>
                    <input type="number" class="form-control" name="age" id="field_age"
                        [(ngModel)]="userProfile.age" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="userProfile.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sex">Sex</label>
                    <select class="form-control" name="sex" [(ngModel)]="userProfile.sex" id="field_sex" >
                        <option value="FEMALE">FEMALE</option>
                        <option value="MALE">MALE</option>
                        <option value="OTHER">OTHER</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_phone">Phone</label>
                    <input type="number" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="userProfile.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_organization">Organization</label>
                    <input type="text" class="form-control" name="organization" id="field_organization"
                        [(ngModel)]="userProfile.organization" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_country">Country</label>
                    <select class="form-control" name="country" [(ngModel)]="userProfile.country" id="field_country" >
                        <option value="ARGENTINA">ARGENTINA</option>
                        <option value="ALGERIA">ALGERIA</option>
                        <option value="ANGOLA">ANGOLA</option>
                        <option value="BELGIUM">BELGIUM</option>
                        <option value="BOTSWANA">BOTSWANA</option>
                        <option value="BRAZIL">BRAZIL</option>
                        <option value="CAMEROON">CAMEROON</option>
                        <option value="CANADA">CANADA</option>
                        <option value="CHINA">CHINA</option>
                        <option value="EGYPYT">EGYPYT</option>
                        <option value="ETHOPIA">ETHOPIA</option>
                        <option value="FRANCE">FRANCE</option>
                        <option value="GABON">GABON</option>
                        <option value="GERMANY">GERMANY</option>
                        <option value="GHANA">GHANA</option>
                        <option value="ISRAEL">ISRAEL</option>
                        <option value="ITALY">ITALY</option>
                        <option value="JAMAICA">JAMAICA</option>
                        <option value="JAPAN">JAPAN</option>
                        <option value="KENYA">KENYA</option>
                        <option value="LESOTHO">LESOTHO</option>
                        <option value="LIBERIA">LIBERIA</option>
                        <option value="LIBYA">LIBYA</option>
                        <option value="MALI">MALI</option>
                        <option value="MAURITIUS">MAURITIUS</option>
                        <option value="MEXICO">MEXICO</option>
                        <option value="MOROCCO">MOROCCO</option>
                        <option value="MOZAMBIQUE">MOZAMBIQUE</option>
                        <option value="NAMIBIA">NAMIBIA</option>
                        <option value="NETHERLANDS">NETHERLANDS</option>
                        <option value="NIGER">NIGER</option>
                        <option value="NIGERIA">NIGERIA</option>
                        <option value="PARAGUAY">PARAGUAY</option>
                        <option value="PHILIPPINES">PHILIPPINES</option>
                        <option value="PORTUGAL">PORTUGAL</option>
                        <option value="RUSSIA">RUSSIA</option>
                        <option value="RWANDA">RWANDA</option>
                        <option value="SAUDI_ARABIA">SAUDI_ARABIA</option>
                        <option value="SENEGAL">SENEGAL</option>
                        <option value="SOMALIA">SOMALIA</option>
                        <option value="SOUTH_AFRICA">SOUTH_AFRICA</option>
                        <option value="SPAIN">SPAIN</option>
                        <option value="SWAZILAND">SWAZILAND</option>
                        <option value="SWEDEN">SWEDEN</option>
                        <option value="SWITZERLAND">SWITZERLAND</option>
                        <option value="TANZANIA">TANZANIA</option>
                        <option value="TUNISIA">TUNISIA</option>
                        <option value="UGANDA">UGANDA</option>
                        <option value="UNITED_KINGDOM">UNITED_KINGDOM</option>
                        <option value="VENEZUAL">VENEZUAL</option>
                        <option value="YEMEN">YEMEN</option>
                        <option value="ZAMBIA">ZAMBIA</option>
                        <option value="ZIMBWAWE">ZIMBWAWE</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
