<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome To The DaveFromIT Sentiment Analysis Project 2019!</h1>
        <p class="lead">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
                <span><br/><br/>Enter a keyword for Sentiment Analysis<br/><br/></span>
                <form class="form">
                    <input #textbox type="text" class="form__field" required>
                    <select #tweetnum >
                        <option value="20">Number of Tweets</option>
                        <option value=10>10</option>
                        <option value=20>20</option>
                        <option value=30>30</option>
                        <option value=40>40</option>
                        <option value=50>50</option>
                        <option value=60>60</option>
                        <option value=70>70</option>
                        <option value=80>80</option>
                        <option value=90>90</option>
                        <option value=100>100</option>
                    </select>
                    <select #tweetType>
                        <option value="mixed">Tweet Type</option>
                        <option value="mixed">Mixed</option>
                        <option value="popular">Popular</option>
                        <option value="recent">Recent</option>
                    </select>
                    <br/>
                    <button type="button" class="btn btn--primary btn--inside uppercase" (click)="logText2(textbox.value, tweetnum.value, tweetType.value)">
                    Test
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                    </button>
                    <br/>
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                </form>
                <br/><br/>
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
    </div>
</div>
